#key{
    margin-top: 135px;
    margin-left: 65px;
}

#clock{
    border-width: 4px;
    border-style:solid;
    border-radius: 200px;
    border-color: #a39e9f;
    padding-bottom: 40px;
    padding-right: 40px;
    margin-left: 0px;

}