/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: Impact;
}

.area:hover {
	opacity: .8;
}

div.tooltip {
	text-align: center;
	display: inline-block;
	padding: 5px;
	font: 12px sans-serif;
	background: #CC6D6C;
	border-radius: 8px;
}

#area-chart {
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    margin: auto;

}

.intro p {
    font-size: 12pt;
    width: 80%;
    text-align: left;
    font-family:"Courier New";
    padding-top: 20px;
}

h2 {
    color: #ccc;
}

.title {
    overflow:hidden
}

.title img {
    width: 100%;
    height: 500px;
    padding-top: 50px;
    object-fit: cover;
}

div {
    background-color: white;
}

.small-mult-title {
    font-weight: lighter;
    font-size: 9pt;
    color: #464a4e;
}

#small-mults svg:hover {
    background-color: #ccc;
    border-radius: 20px;
}
#small-mults div {
    display: inline;
    padding: 10px
}

#map path,
#map line {
    fill: white;
    stroke: #000;
}

.crimeDot {
    opacity: .6;
    border: #ccc;
    border-style: solid;
}

.legendLabel {
    font-weight: lighter;
    font-size: 8pt;
}


#small-mults::-webkit-scrollbar {
    -webkit-appearance: none;
}

#small-mults::-webkit-scrollbar:vertical {
    width: 11px;
}

#small-mults::-webkit-scrollbar:horizontal {
    height: 11px;
}

#small-mults::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#small-mults {
    overflow-y: auto;
    border: 1px solid black;
    height: 600px;
    width: 100%;
    line-height: 1em;
    padding: 15px;
}

#stacked-area-chart
{
    display: flex;
    align-items: center;
    height: 100%;
}

#stacked-area-chart svg
{
    margin: 0 auto;
    display: block;
}
