.area-chart-time {
    stroke: #1b1e21;
    stroke-width: 4;
}


.area:hover {
	opacity: .8;
}

#fp-nav {
    background: #ccc;
    border-radius: 10px;
    opacity: .5;
}

#fp-nav ul li .fp-tooltip {
    background-color: white;
    color: black;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

div.tooltip {
	text-align: center;
	display: inline-block;
	padding: 5px;
	font: 12px sans-serif;
	background: #CC6D6C;
	border-radius: 8px;
}

#area-chart {
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    margin: auto;

}

.intro p {
    font-size: 12pt;
    width: 80%;
    text-align: left;
    font-family:"Courier New";
}

h2 {
    color: black;
}

.title {
    overflow: hidden;
    height: inherit;
    text-align: center;
}

.title img {
    min-width: 100%;
    min-height: 100%;
}

#title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-family: 'Cormorant Garamond', serif;
    color: white;
    background-color:  #67000d;
    padding: 20px;
    opacity: .8;
}

.section {
    background-color: white !important;
}

.small-mult-title {
    font-weight: lighter;
    font-size: 9pt;
    color: #464a4e;
}

#small-mults svg {
    border-radius: 20px;
}

#small-mults svg:hover {
    background-color: #ccc;
}

#small-mults div {
    width: fit-content;
    height: fit-content;
}
.small-mult-row {
    height: 100%
}

.small-mult-col {
    max-width: 30%
}

#small-mults-card {
    margin-right: 20px;
}

#small-mults {
    margin: 10px;
}

#small-mults-card {
    margin-top: auto;
    margin-bottom: auto;

}

#small-mults-card,
#small-mults {
    height: fit-content;
    flex-wrap: wrap;
}

#map path,
#map line {
    fill: white;
    stroke: #000;
}

.crimeDot {
    stroke: #ccc;
    stroke-opacity: .6;
}

.legendLabel {
    font-weight: lighter;
    font-size: 8pt;
}


#stacked-area-chart
{
    display: flex;
    align-items: center;
    height: 100%;
}

#stacked-area-chart svg
{
    margin: 0 auto;
    display: block;
}

#all-mults {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

#all-mults:hover {
    background-color: #ccc;
    font-size: 18pt;
    padding: 20px;

}


.map_text{
    font-size: 12pt;
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify;
    alignment: center;
}

#gif{
    margin-top: 10%;
}

.intro_text{
    font-size: 15pt;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

.storyh{
    font-size: 24pt;
}
#subtitle{
    margin-bottom: 40px;
}

#headlines{
    padding: 10px;
}

#right-time{
    width: 850px;
}

#left-time{
    width: 200px;
}
.close-icon {
    color: #ccc;
    cursor: pointer;
    float: right;
    font-size: 38px;
    display: inline-block;
    vertical-align: middle;
}
/* TIMELINE */

.arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.timeline {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
}

.section h2 {
    font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 200px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 200px;
    height: 3px;
    background: #67000d;
}

.timeline-expand-btn {
    margin: auto;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}
/*CHANGED !!! */
.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fc9272;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline time {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}
#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth {
    font-size: 10px;
    font-weight: normal;
}
time p {
        font-size: 10px;
        font-weight: bold;
}

.btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

#march {
    width: 600px;
}
.arrows {
}

#june {
    width: 300px;
}
#october {
    width: 450px;
}
#september {
    width: 600px;
}

#about-link{
    align: right;
}


@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
        flex-direction: column;
    }

    /* deletes margin on top or bottom of the a tag*/
    li{
        margin: 0;
    }
    /* makes sure that the a tag will take the entire screen*/
    a{
        display: block;
    }
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}



.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;
    top: 2em;
    margin-top: 10%;
    width: 60%;
alignment: center;
    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

#map_text{
    margin-top: 40px;
    margin-bottom: 100px;
    border-width: 2px;
    border-style:dotted;
    border-color: #a39e9f;
    padding: 20px;
}

#clock_title{
    margin-left: 10%;
}

